* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1190px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
}
 
 input[type=range] {
    box-sizing: border-box;
    appearance: none;
    width: 400px;
    margin: 0;
    padding: 0 2px;
    /* Add some L/R padding to ensure box shadow of handle is shown */
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */
    background-size: 100% 2px;
    pointer-events: none;
 
    &:active,
    &:focus {
       outline: none;
    }
 
    &::-webkit-slider-thumb {
       height: 28px;
       width: 28px;
       border-radius: 28px;
       background-color: #fff;
       position: relative;
       margin: 5px 0;
       /* Add some margin to ensure box shadow is shown */
       cursor: pointer;
       appearance: none;
       pointer-events: all;
       box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
       &::before {
             content: ' ';
             display: block;
             position: absolute;
             top: 13px;
             left: 100%;
             width: 2000px;
             height: 2px;
       }
    }
 }
 
 .multi-range__input {
    position: relative;
    height: 50px;
    
    input[type=range] {
       position: absolute;
       
       &:nth-child(1) {
          &::-webkit-slider-thumb::before {
             background-color: red;
          }
       }
 
       &:nth-child(2) {
          background: none;
 
          &::-webkit-slider-thumb::before {
              background-color: grey; 
          }
       }
    }
 }

 .tags {
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin-top: 5px;
        margin-right: 5px;
    }

    &__link {
        text-decoration: none;
        padding: 2px 3px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 141.4%;
        text-decoration-line: underline;
        color: #EE3E84;
        border: 1px solid #EE3E84;
        border-radius: 2px;
        white-space: nowrap;
    }
 }

 .lock {
    overflow: hidden;
 }

 .modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .5s;
    background: rgba(0,0,0, .6);
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
}
.modal-wrapper.min-modal-js-active {
    visibility: visible;
    transition: .3s;
    opacity: 1;
}

 .modal-video {
    background: #fff;
    max-width: 602px;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;

    &__header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: rem(22);
    }

    &__close {
        fill: $color3;
        cursor: pointer;

        svg {
            width: 33px;
            height: 33px;
        }
    }

    &__body {
        video {
            width: 100%;
            border-radius: 7px;
        }
    }
}

.modal-wrapper {
    background-color: rgba($color: #000000, $alpha: .2);
    display: flex;
    justify-content: center;
    align-self: center;
}


 @keyframes blinking {
    0% {
        background-color: #133A67;
    }
    50% {
        background: #ffffff7a;
    }
    100% {
        background-color: #133A67;
    }
  }