.filter {
    display: flex;
    &__search-params {
        display: flex;
        margin-top: 20px;
        max-width: 250px;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 141.4%;
        text-align: center;
        color: #13293B;
        svg {
            width: 7px;
            height: 12px;
            margin-top: 6px;
            margin-left: 6px;
        }
    }

    .row {
    }

    &__form {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.filter-form {
    &__item {
        padding-top: 20px;
        &:hover .filter-form__item-drop {
            opacity: 1;
        }
        &:hover .filter-form__item-text::after {
            transform: rotateZ(180deg);
        }
    }

    &__item-drop {
        position: relative;
        opacity: 0;
        transition: .3s;
        background: #FFFFFF;
        border: 1px solid #EDEDED;
        padding: 7px;
    }

    &__item-text {
        width: fit-content;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: -24px;
            top: 0;
            width: 24px;
            height: 24px;
            background-image: url('../images/icons/appereance-alt.svg');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            transition: .3s
        }
    } 

    &__range-input {
        max-width: 120px;
        height: 9px;
        input {
            width: 171px;
            background: linear-gradient($color1, $color1) no-repeat center;
            background-size: 100% 2px;
            &::-webkit-slider-thumb {
                width: 9px;
                height: 9px;
                background-color: $color1;
            }
        }
        &--sm {
            width: 85px;
            input {
                width: 85px;
            }
        }
    }

    &__range-values {
        margin-top: 5px;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__range-value {
        font-size: 14px;

    }

    &__input {
    }

    &__btn {
    }
}
